config edge
	option enabled      '0'
	option tunname      'n2n-edge'
	option mode         'static'
	option ipaddr		'10.0.0.1'
	option netmask      '255.255.255.0'
	option supernode	'100.100.100.100'
	option port         '7654'
	option community	'openwrt'
	option key          'openwrt'
	option route		'0'
	option ifmac		'0'
	option mac			'00:00:00:00:00:00'
	option mtu			'1400'

config supernode
	option enabled      '0'
	option port         '1235'
